@{
    ViewBag.Title = "Home";
}

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background: url(../../Content/img/bannerimg1.png); background-repeat:no-repeat; background-size:cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown"><img src="~/Content/img/logo2.png"/></h2>
                            <br/>
                            <br/>
                            <p class="animate__animated animate__fadeInUp">Welcome to Sith University. The Dark Counsil, the ruling body of the Sith Empire, presents this ancient knowledge through a new doctrine. Technology, philosophy about the force, and battle strategy come together in this anti stellar training regiment. Find out more.  </p>
                            <div>
                                <a href="@Url.Action("Contact","Home")" class="btn-get-started animate__animated animate__fadeInUp scrollto">Enroll</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background: url(../../Content/img/bannerimg2.png); background-repeat:no-repeat; background-size:cover; ">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown"><img src="~/Content/img/logo4.png" /></h2>
                            <br />
                            <br />
                            <p class="animate__animated animate__fadeInUp">Offering new Bounty Hunter courses. Whether working for credits or principle, the Bounty Hunter pursues their targets with determination. Their legendary abilities in this universe have earned them the nickname "Jedi Killers". Learn more.</p>
                            <div>
                                <a href="@Url.Action("Index","Cours")"class="btn-get-started animate__animated animate__fadeInUp scrollto">Courses</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background: url(../../Content/img/bannerimg3.png); background-repeat:no-repeat; background-size:cover;">
                    <div class="carousel-background"><img src="assets/img/slide/slide-3.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Learn from the Masters.</h2>
                            <p class="animate__animated animate__fadeInUp">The true origins of the Sith remain in shrouded mystery. Master the ancient skills of this warrior race. With majors in Sith Inquisitor and Sith Warrior, you can specialize in dual wielding lightsabers, force lightning, hatred, and carnage to crush the rebel forces.</p>
                            <div>
                                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Instructors</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->

<section id="counts" class="counts">
    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Bounty Hunter Contracts Aquired.</strong> Join the course.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Graduates to date.</strong> Become an alumni.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Rebel forces crushed.</strong> We need you.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Stars Destroyed.</strong> Learn to operate Star Destoyers.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->